.checkout-container {
  padding: 20px;
  color: #12aee0;
  background-color: #121212;
}

.checkout-cart {
  border: 1px solid #12aee0;
  padding: 15px;
  margin-bottom: 20px;
}

.checkout-item {
  border-bottom: 1px solid #12aee0;
  padding: 5px 0;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-form input {
  padding: 10px;
  border: 1px solid #12aee0;
  background-color: #121212;
  color: #12aee0;
}

.checkout-form button {
  padding: 10px;
  background-color: #12aee0;
  color: #121212;
  border: none;
  cursor: pointer;
}
