.dashboard-container {
  padding: 20px;
  background-color: #000; /* noir */
  color: #12aee0; /* accent */
  min-height: 80vh;
  font-family: Arial, sans-serif;
}

.dashboard-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #12aee0;
  padding: 10px;
  text-align: left;
}

.dashboard-table th {
  background-color: #111;
}

.dashboard-table td img {
  max-width: 80px;
  border-radius: 5px;
}

.dashboard-table button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #12aee0;
  color: #000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.dashboard-table button:hover {
  opacity: 0.8;
}
.link{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  position: relative;
}
.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #22d3ee, #38bdf8);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.85;
}
