
.cart {
  position: fixed;
  top: 80px;              
  right: 0;
  width: 320px;
  height: calc(100vh - 80px);
  background-color: #ffffff;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%); 
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

/* Sidebar ouv*/
.cart.open {
  transform: translateX(0);  
  opacity: 1;
}

/* Container */
.cart-items {
  flex: 1;               
  padding: 10px 20px;
  overflow-y: auto;
}

/* produit*/
.cart-item {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item h4 {
  font-size: 14px;
  margin: 0;
}

.cart-item p {
  margin: 4px 0;
  font-weight: bold;
}

.qty {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 6px 0;
}

.qty button {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border: none;
  background-color: #1d2b6f;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.cart-item button:last-child {
  background-color: crimson;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

/* Total au dessus  */
.cart-total {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #eee;
}

/* si panier vid*/
.empty {
  text-align: center;
  margin-top: 40px;
  color: gray;
}
/*por commander*/
.checkout-btn{
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #22d3ee, #38bdf8);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
}