
.event-card {
  background: #0b1220;
  border-radius: 15px;
  overflow: hidden;
  width: 320px;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
   display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-6px);
}
/*imge*/
.event-image {
  position: relative;
  height: 190px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-category {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #7c3aed;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
  text-transform: uppercase;
}

.event-price {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #22d3ee;
  color: #000;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 20px;
}

.event-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-content h3 {
  color: #fff;
  font-size: 17px;
}

.event-description {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 16px;
  color: #aaa;
  line-height: 1.4;
}

/* Info */
.event-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  color: #ccc;
}

.event-info svg {
  margin-right: 6px;
  color: #20e3c2;
}

.add-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #22d3ee, #38bdf8);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.add-btn:hover {
  opacity: 0.85;
}
