.event-card {
  background-color: #111;
  border: 1px solid #12aee0;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.event-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-card h3 {
  margin: 5px 0;
  color: #12aee0;
}

.event-card p {
  margin: 3px 0;
  font-size: 0.9rem;
}

.event-card .price {
  font-weight: bold;
  color: #12aee0;
}
